


body {
    /*align-items: center;*/
    /*display: flex;*/
    height: 100vh;
    /*justify-content: center;*/
    width: 100vw;
}

.avatar {
    margin-top: 2%;
}

.cancelForgot {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 4%;
}

.container {
    height: 100vh;
    width: 100vw;
}

/*.container {*/
/*    height: 95vw;*/
/*    overflow: auto;*/
/*    position: center;*/
/*    width: 95vw;*/
/*}*/

.buttons,
.loginForm,
.pullForm {
    padding: 2%;
}



/*Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {

}