
/* Bordered form */
form {
    border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
    background-color: black;
    text-align: center;
    /*margin: 24px 0 12px 0;*/
}

/* Avatar image */
img.avatar {
    width: 80%;
    border-radius: 50%;
}

/* The "Forgot password" text */
span.psw {
    background-color: black;
    color: white;
    padding-top: 16px;
}


/*custom code*/

* {
   background-color: black; 
}

b {
    color: white;
    background-color: black;
}

form {
    background-color: black;
    border-style: none !important; 
    color: white; 
    padding: 2%;
}

header {
    background-color: black;
}

h1 {
    background-color: black;
    color: white;
    padding: 2%;
}

input {
    background-color: black;
}

ul {
    background-color: black;
    color: white;
    margin-left: 2%;
    margin-right: 2%;
}
    ul li {
        background-color: black;
        color: white;
        margin-bottom: 1%;
        margin-top: 1%;
    }

.buttons,
.loginForm,
.pullForm {
    background-color: black;
}

.cancelForgot {
    background-color: black;
}

/*.container {*/
/*    background-color: black;*/
/*}*/

.container {
    background-color: black;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    
    .cancelbtn {
        width: 100%;
    }
    
    
/*custom code*/
}