<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
  <link rel="stylesheet" href="../static/css/styles.css">
  <link rel="stylesheet" href="../static/css/layout.css">
   
 </head>
 <body>
<div class="container">

<form action="action_page.php">
  <section class="imgcontainer">
   <a href="./home.html">
    <img src="../static/images/electric mayhem.jpg" alt="Avatar" class="avatar">
   </a>
  </section>

  <section class="loginForm">
    <label for="uname" class="formLabel"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required>

    <label for="psw" class="formLabel"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>

    <button type="submit">Login</button>
   
  </section>

  <section class="cancelForgot">
    <button type="button" class="cancelbtn">Cancel</button>
    <span class="psw"><a href="#">Forgot password?</a></span>
  </section>
</form>

</div>

<!--js-->

 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 <script type="text/javascript" src = "../static/js/blob.js"></script>
 <script type="text/javascript" src = "../static/js/file-saver.js"></script>
 <script type="text/javascript" src = "../static/js/app.js"></script>
 <script type="text/javascript" src = "../static/js/scrape-issues.js"></script>
 <script type="text/javascript" src = "../static/js/js_call_py.js"></script>

</body>
</html>