<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
  <link rel="stylesheet" href="../static/css/styles.css">
  <link rel="stylesheet" href="../static/css/layout.css">
   
 </head>
 <body>
     
<div class="container">
    
  <section class="imgcontainer">
   <a href="./home.html">
    <img src="../static/images/electric mayhem.jpg" alt="Avatar" class="avatar">
   </a>
  </section>

    <h1>Show Issues</h1>    

    <ul>
     <src='issues'>
    </ul>
    
    
<a id="home" href="home.html">Home</a>

</div>

<!--js-->

 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 <script type="text/javascript" src = "../static/js/blob.js"></script>
 <script type="text/javascript" src = "../static/js/file-saver.js"></script>
 <script type="text/javascript" src = "../static/js/app.js"></script>
 <script type="text/javascript" src = "../static/js/scrape-issues.js"></script>
 <script type="text/javascript" src = "../static/js/js_call_py.js"></script>


</body>
</html>    